a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: #212529;
}

.social-link {
    margin-left: 5px;
    font-size: 30px;
    color: white;
}

.visitor{
    margin-left: 5px;
    color: white;
    font-size: 1.2rem;

}
.visitor a{
    margin-bottom: 20px;
    font-size: 1rem;
    margin-left: 0.5rem;
    background-color: transparent;
}
.visitor a img{
    width: 50px;
    margin-bottom: 3px;
    font-size: 1.5rem;
    background-color: transparent;
}